<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Entry</title>
</head>
<body>
    {% extends "django_learnings/base.html" %}
    {% load bootstrap3 %}

    {% block header %}
        <h1><a href="{% url 'topic' topic.id %}">{{ topic }}</a></h1>
    {% endblock header %}
    
    {% block content %}
        <h3>Edit note:</h3>
        <form action="{% url 'edit_entry' entry.id %}" method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}

            {% buttons %}
                <button name="submit">Save</button>
            {% endbuttons %}
        </form>
    {% endblock content %}
</body>
</html>