<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    {% extends "django_learnings/base.html" %}
    {% load bootstrap3 %}
    {% block header %}
    
    {% block header %}

    {% block content %}
        {% if form.errors %}
            <p class="aviso-error" style="color: red;">* The user name must not contain any special characters</p>
            <p class="aviso-error" style="color:red;">* The password must be longer than 8 digits</p>
            <p class="aviso-error" style="color:red;">* Passwords must match</p>
        {% endif %}

        <form action="{% url 'register' %}" method="post" class="ul-none form">
            {% csrf_token %}
            {% bootstrap_form form %}
            
            {% buttons %}
                <button name="submit" class="btn btn-primary">Register</button>
            {% endbuttons %}
            <input type="hidden" name="next" value="{% url 'index' %}">
        </form>
    {% endblock content %}

</body>
</html>